name: Docker CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Backend Image
        run: |
          docker build -t nikhilyadav007/mean-backend ./backend
          docker push nikhilyadav007/mean-backend

      - name: Build & Push Frontend Image
        run: |
          docker build -t nikhilyadav007/mean-frontend ./frontend
          docker push nikhilyadav007/mean-frontend

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          debug: true
          script: |
            echo "Connected user:"
            whoami
            echo "Current directory:"
            pwd
            echo "Listing home:"
            ls /home/ubuntu

            cd /home/ubuntu/devops-intern-project

            echo "Docker version:"
            docker --version

            echo "Docker Compose version:"
            docker-compose --version || docker compose version

            docker-compose pull || docker compose pull
            docker-compose up -d || docker compose up -d
